PUBLIC_AZURE_CLIENT_ID=your-entra-app-client-id
PUBLIC_AZURE_TENANT_ID=your-entra-tenant-id
PUBLIC_DASHBOARD_URL=http://localhost:4321/dashboard/
PUBLIC_EHEALTH_PORTAL_URL=https://example.org/ehealth-portal
PUBLIC_OPENNCP_PORTAL_URL=https://example.org/openncp-portal